{%extends 'ecom/base.html' %}

{% block content %}

<p class = "userName"  id = "userName" style="display: none">{{User}}</p>
<p class= "goukei"> ご購入ありがとうございました。 <br>支払い額： </p>
<p class="price goukei"></p>
<script>
	let userName = $('#userName')[0].textContent.trim();
	let products = JSON.parse(localStorage.getItem(userName + "_products"));
	let price = 0;
	for (var product in products){
		price += JSON.parse(localStorage[userName + "_products"])[product]["quantity"] * JSON.parse(localStorage[userName + "_products"])[product]["price"]
	};
	$('.price').text(price+'円')

	localStorage.setItem(userName + "_products", "{}");
	localStorage.setItem(userName + "_price", "0");
</script>
   <br><a href="/ecom" style="text-decoration : none;"><input type="submit" id = "paymentComplete" name="button_2" class="btn-square-shadow pay-kessai" value="トップページに戻る"></a>
<!--<h3> <a href="/ecom">トップページに戻る<a></h3>-->
{% endblock%}
