{% extends "ecom/base.html"%}
{% block content %}
<p class="goukei">お支払総額 :</p>
<br>
<p class="price goukei"></p>
<p class = "userName" style = "display: none" id = "userName" >{{User  }}</p>

<script>
	
	let userName = $('#userName')[0].textContent.trim();
	let products = JSON.parse(localStorage.getItem(userName + "_products"));
	let price = 0;
	for (var product in products){
		price += JSON.parse(localStorage[userName + "_products"])[product]["quantity"] * JSON.parse(localStorage[userName + "_products"])[product]["price"]
	};
	$('.price').text(price+'円');

	function check(){
		if(price == 0){
				alert('何かご購入ください');
				return false;
		}
	    else{
                return true;
		}

	}

</script>

  

 

   
	<form action="{% url 'charge' %}" method="post">
  	{% csrf_token %}
	<script  src="https://checkout.stripe.com/checkout.js" class="stripe-button" value="stripe-button"
   		 data-key="{{ key }}";
   	 	data-description= " お支払情報入力フォーム"
   	 	data-amount=JSON.stringify(price);
   	 	data-locale="auto"
	 	>
	</script>
<script>
        
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>

<input type="submit" id = "paymentComplete" name="button_2" class="btn-square-shadow pay-kessai" onclick='return check()' value="決済">

<br> <a href="/ecom/" class="btn-square-shadow pay-to-index">まだ買い物を続ける</a>



</form>


{%endblock%}

