{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <link rel="stylesheet" type ="text/css"
          href="{% static 'ecom/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'ecom/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script type="text/javascript" src="{% static 'ecom/js/bas.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/OrbitControls-2.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'ecom/js/hoge.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'ecom/js/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/trackball_ctrl_r62.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/pixel_particle.js' %}"></script>
</head>
<body>
   <img class="heder-img" src="{% static 'ecom/img/book-863418_1920.jpg' %}" style="width: 100%;">
   <a href="{% url 'pay' %}" class="btn-square-shadow">決済へ</a><br>
    {% for product in products %}
   <div class="index-table">
      <img src="{{ product.picture }}">
      <br>
      <a href="{% url 'product' %}?product={{ product.product }}">{{ product.product }}</a><br>
      <span>{{ product.price }}円</span><br>
   </div>
    {% endfor %}
   <br>
    <a href="{% url 'pay' %}" class="btn-square-shadow">決済へ</a>
</body>
</html>
