{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <link rel="stylesheet" type ="text/css"
          href="{% static 'ecom/css/style.css' %}" />
</head>
<body>
  <canvas id="canvas"></canvas>
  <section id="body>
   <p>index</p>
    {% for product in products %}
    <tr>
      <td><a href="{% url 'product' %}?product={{ product.product }}">{{ product.product }}</a></td><br>
      <td>{{ product.price }}円</td><br>
    </tr>
    <br>
    {% endfor %}
    <a href="{% url 'pay' %}">決済へ</a>
                             
    <img src="https://github.com/AkaDeMiA13/django/blob/AkaDeMiA13-tosa-playing/ecom/static/ecom/img/%E4%BB%99%E5%8F%B0%EF%BC%88%E5%B9%B3%E6%88%90%EF%BC%89%E5%B7%A6%E4%B8%8B.jpg">
    
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script type="text/javascript" src="{% static 'ecom/js/bas.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/OrbitControls-2.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/hoge.js' %}"></script>
    
    
    <div id="three-container" align="center"></div>
  </section>
</body>
</html>
