{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <link rel="stylesheet" type ="text/css"
          href="{% static 'ecom/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'ecom/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script type="text/javascript" src="{% static 'ecom/js/bas.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/OrbitControls-2.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'ecom/js/hoge.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'ecom/js/three.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/trackball_ctrl_r62.js' %}"></script>
    <script type="text/javascript" src="{% static 'ecom/js/pixel_particle.js' %}"></script>
</head>
<body>
   
   <div id="three-container" class="wrapper">
       <div class="contents-0">
       
           <div id="container"></div>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    
       <script type="x-shader/x-vertex" id="vertexShader">
        uniform float amplitude;
        attribute vec3 vertexColor;
        varying vec4 varColor;
        void main()
        {
        varColor = vec4(vertexColor, 1.0);
        vec4 pos = vec4(position, 1.0);
        pos.z *= amplitude;
        vec4 mvPosition = modelViewMatrix * pos;
        gl_PointSize = 1.0;
        gl_Position = projectionMatrix * mvPosition;
        }
       </script>
       
       <script type="x-shader/x-fragment" id="fragmentShader">
        varying vec4 varColor;
        void main()
        {
        gl_FragColor = varColor;
        }
       </script>
   
   <img class="heder-img" src="{% static 'ecom/img/book-863418_1920.jpg' }">
   <a href="{% url 'pay' %}" class="btn-square-shadow">決済へ</a><br>
    {% for product in products %}
    <div class="index-table">
      <img src="{{ product.picture }}"><br>
      <a href="{% url 'product' %}?product={{ product.product }}">{{ product.product }}</a><br>
      <span>{{ product.price }}円</span><br>
    </div>
    {% endfor %}
    <br>
    <a href="{% url 'pay' %}" class="btn-square-shadow">決済へ</a>
   </div>
   </div>
    
    
</body>
</html>
