p {
  color:red;
  font-size:100pt;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-image: radial-gradient(#666, #333);
}

#canvas { position:fixed;    top:0; left:0; width:5%; height:5%; }
#body   { position:absolute; top:0; left:0; }
