/*プロダクトページ*/
.product-contents p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height: 380px;
}
.product-contents h2 {
  font-size: 40px;
  margin-bottom: 2%;
}
#three-container{position:relative;}
.contents-0{
  position:absolute;
  width: 100%;
}

body{
  font-family:"Yu Gothic","Meiryo";
}
header{
  height: 13%;
}
svg{
  position:fixed;z-index: -1;
}
header a {
    position: fixed;
    bottom: 0%;
    right: 0;}

.blank_top{
  height:150px;
}

.index-main-tables {
    overflow: hidden;
    margin-bottom: 150px;
  }
.index-table {
    font-size: 30px;
    float:left;
    width:30%;
    border: solid 1px #A9BCF5;
    margin: 20px 14px;
    text-align: center;
    background-color: rgba(47,136,201,0.1);
}
.index-table a {
  font-size: 30px;
  text-decoration: none;
  color: deepskyblue;
}
.index-table img {
  height:300px;
  margin-top: 20px;
  max-width: 100%;
}
.index-below{
    width: 300px !important;
    height: 70px !important;
    vertical-align: middle;
    line-height: 70px !important;
    font-size: 30px !important;
  }

body.product-body {
  background-color: #f2f2f2;
}
.product-img{
  width:100%;
  float: left;
  text-align: center;
}
.product-img img {
  height: 500px;
  max-width: 100%;
}
.product-form{
  width: 90%;
  float:left;
   margin: 50px;
 }
.product-input {
    width:27%;
    background: #668ad8;
    border-radius: 3px;
    border: solid 1px #668ad8;
    overflow: hidden;
    color: #FFFFFF;
    float: right;
    margin-top: 0;
    margin-bottom: 20px;
  }
.product-form form label{
  font-size: 0px;
}
.product-form form label:before {
  content: '本数' !important;
  font-size: 25px !important;
  margin: 0px 3px;
}
#id_number {
  vertical-align: inherit;
  font-size: 26px;
  height: 39px;
  height: 50px;
  width: 76%;
  background-color:#ffffff !important;
}
select#id_number option {
  font-size: 15px !important;
}
input[type="submit"] {
  width: 100%;
  margin-top: 85px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 33px;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  clear:both;
  height: 100px;
}
input[type="submit"]:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.product-contents{
  clear:both;
  margin: 50px 10% 0px 10%;
}
.product-name {
  font-size:60px;
  font-weight: bold;
  margin-bottom: 1%;
}
.product-price {
  font-size:30px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 1%;
}
.product-text {
  font-size:30px !important;
  height: 570px;
}
.rebtn{
  position: fixed;
  bottom: 80px;
  right: 10px;
}
.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
  font-size: 22px;
}
.btn-circle-stitch:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

body.pay-body {
  background-color: #f2f2f2;
}
.anataga, .goukei,.pay-money, .desu{
  font-weight: bolder;
  font-size: 35px;
  margin-left: 5%;
}
.paymentDetails {
  float:left;
  width:100%;
}
.paymentDetails .pay-content{
  float:left;
  width:30%;
  border: solid 1px #A9BCF5;
  margin: 20px 14px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: rgba(47,136,201,0.1);
}
.pay-content img {height:300px;margin-top: 20px;max-width: 100%;}
.pay-cart{font-size: 25px;}
.pay-money{font-size: 50px;}
.pay-below{clear:both;}
.pay-kessai{width:344px !important;margin-left:10% !important;margin-bottom: 10px !important;}
.pay-to-index{width:300px !important;margin: 10px 0px 50px 10% !important;}

/*top footer*/
.active{
  transform: translateX(600px);
  opacity:0;
}
.btn_up_act{
  -webkit-transform: translate(0, 23px) rotate(45deg);
  -moz-transform: translate(0, 23px) rotate(45deg);
}
.btn_un_act{
  -webkit-transform: translate(0, -21px) rotate(-45deg);
  -moz-transform: translate(0, -21px) rotate(-45deg);
}
.log_act{
  transform: translateY(150px);
  opacity:0;
}
.footer_buttnos{
    position: fixed;
    bottom: 155px;
    left: 0;
    width: 100%;
}
ul{
  padding:0;
}
li{
  list-style: none;
  width:100%;
}
a.money_button {
    float: left;
    width: 35%;
    text-align: center;
    font-size: 40px;
    padding: 1% 0;
    text-decoration: none;
    color: #1641c6;
    background: rgba(217, 225, 233, 0.9);
    position: absolute;
    border-radius: 100px;
    margin-left: 5%;
    transition: all 0.5s;
}
a.cart_button {
    float: left;
    width: 35%;
    text-align: center;
    font-size: 40px;
    padding: 1% 0;
    text-decoration: none;
    border-radius: 100px;
    color: #1641c6;
    background: rgba(217, 225, 233, 0.9);
    margin-bottom: -139px;
    transition: all 0.3s;
}
.icon_button_upper{
    height: 10px;
    background: white;
    width: 75px;
    margin-left: 22px;
    margin-top: 32px;
    transition: all 0.3s;
}
.icon_button_under{
    height: 10px;
    background: white;
    width: 75px;
    margin-left: 22px;
    margin-top: 35px;
    transition: all 0.3s;
}
.icon_wallet_op{
    position: absolute;
    width: 120px;
    height: 120px;
    margin-right: 4%;
    text-align: center;
    margin-left: 80%;
    border: 3px solid white;
    border-radius: 50%;
}
.dis_no{
  display: none;
}
/*product.html*/
/*決済ボタン*/
.btn-square-shadow
{
  display: block;
  text-align: center;
  font-size: 33px;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-bottom: 10px;
  clear:both;
  height: 100px;
  line-height: 100px;
  margin-top: 20px;
  width: 100%;
}
.btn-square-shadow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  background: white;
  margin-right: 12%;
  margin-bottom: 3%;
  font-size:30px
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.wrapperloading{
  display: none;
}

body {
  margin: 0;
}

.img_size {
  width:100px;
  height:100px;
}

body,html{margin:0;padding:0;height:100%;}
body{
  background:url('../static/ecom/img/online-3217733_1920.jpg');
  background-size:cover;
}
svg{font-weight:bold;height:auto;}

/* ----- 背景用の動画ファイル ----- */
#bg-video{
 transform: translateX(-50%);
 position: fixed;
 left: 50%;
 bottom: 0%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 background: url('poster.jpg') no-repeat;
 background-size: cover;
}

.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:64%;
  height:10%;
  left:18%;
}
.popup-overlay.activate{
  /*displays pop-up when "active" class is present*/
  visibility:visible !important;
  text-align:center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
 margin: 0 20px;
}

.popup-content.activate {
  /*Shows pop-up content when "active" class is present */
  visibility:visible !important;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:	#ffffff;
  border:1px solid #666666;
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}

.login_pop{
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  color: #555;
  font-size: 16px;
  background: #e0e5ff;
  border-radius: 100px;
  margin-left: 60%;
  margin-bottom: 1%;
  width: 35%;
  height: 145px;
  transition: all 0.3s;
}

.login_pop:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 72%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.login_pop h1{
  margin-left: 10%;
  margin-top: 3%;
  font-size: 28px;
}

.login_pop h2{
  margin-left: 13%;
}

.login_pop a{
  text-decoration: none;
}

.modal {
   position:absolute;
   width:100%;
   height:100vh;
   top:0;
   left:0;
   display:none;
 }
 .overLay {
   position:absolute;
   top:0;
   left:0;
   background:rgba(200,200,200,0.9);
   width:100%;
   height:100vh;
   z-index:10;
 }
 .modal .inner {
   position:absolute;
   z-index:11;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   background:#fff;
   padding:20px;
 }
 .modalClose{
   text-decoration: none;
   float: right;
 }
 @keyframes modal{
   0% {top:-100%}
   100% {top:50%}
 }
 @keyframes modalClose {
   0% {top:50%}
   100% {top:100%}
 }

/* index0 */
a.login_button {
    float: left;
    width: 35%;
    text-align: center;
    font-size: 40px;
    padding: 1% 0;
    text-decoration: none;
    color: #1641c6;
    background: rgba(217, 225, 233, 0.9);
    position: absolute;
    border-radius: 100px;
    margin-left: 5%;
    transition: all 0.5s;
}
a.member_button {
    float: left;
    width: 35%;
    text-align: center;
    font-size: 40px;
    padding: 1% 0;
    text-decoration: none;
    border-radius: 100px;
    color: #1641c6;
    background: rgba(217, 225, 233, 0.9);
    margin-bottom: -139px;
    transition: all 0.3s;
}

/* history.html */
table{
  width: 80%;
  border-collapse:separate;
  border-spacing: 0;
  margin:10%;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.historyh2{
  font-size: 40px;
  margin-left: 5%;
}