{% extends 'ecom/base.html' %}



{% block content %}


<style>
@media screen and (max-width: 479px)
{
 	body {
    text-align: center;
	} 
	.container
	{
     position: absolute;
 	margin: -8% 0px 00px 2%
	}
	form {
    display: inline-block;
	}
	.idPassword {
	margin-left: 5%
	}
	ul {	
	
	margin-left: 43%;
        text-align:left;
	}


	 .taba { margin-left: 28%; }
}

	body {
    text-align: center;
	} 
	.container
	{
    	 position: absolute;
 	margin: -5% 0px 00px 35%
	}
	form {
    display: inline-block;
	}
	.idPassword {
	margin-left: 5%
	}
	ul {	
	
	margin-left: 43%;
        text-align:left;
	}
	.taba { margin-left: 28%; }

</style>

 
  <h1><Strong>会員登録<Strong></h1>
 

 <form method="post">
 
   {% csrf_token %} 
	
     <p><label for="id_username">ユーザー名:</label>
 <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username";style="float:left"> 
<br>
<p class="tab">150文字以内の数字及び英文字または以下の記号のみ有効です。@/./+/-/_</p>

<p><label for="id_password1">パスワード:</label> <input type="password" name="password1" required="" id="id_password1"> </p>
<span display:"block">
<ul ><li>以下の点に注意して下さい.</li><li>個人情報に関連の無いものであること.</li><li>8文字以上であること。</li><li>よく使われるパスワード(passwordなど)でないこと.</li><li>英文字を含むこと。</li></ul>

 </span>
<p class ="idPassword"><label for="id_password2">パスワード再入力:</label> <input type="password" name="password2" required="" id="id_password2">
<br></p>

<p class="taba"> 確認のため、再びパスワードを入力してください</p>    <button type="submit">登録</button>
 
 </form>

    


{%endblock%}